@page "/counter"

@using Client.Data

@inject CountIncrementService CountIncrement

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @CountIncrement.CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private void IncrementCount()
    {
        CountIncrement.IncrementCount();
    }
}
